<div class="footer">

  <div class="container-fluid text-center">
  		<div class="row">
  			<div class="cr">
  				<p style="background-color: #000000"; > © Copyright 2018 Dinotod - All rights reserved</p>
  			</div>
  	</div>
  </div>
</div>
