{% block css %}
<style>
ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
  background-color: #206578;
}

.dropdown-menu > li > a:hover {
    background-color: #398DA3;
}
</style>
{% endblock %}
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/news/"><strong>BMNC</strong></a></li>
          <li><a href="/polling/"><strong>Polling</strong></a></li>
          {% if request.session.is_login == "login" %}
            <li><a href="/user/user-profile/"><strong>Profile</strong></a></li>
          {% else %}
          {% endif %}
        </ul>
        {% if request.session.is_login == "login" %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login/logout/"><strong>Logout</strong></a></li>
          <!--if sudah login di kanan jadi link untuk lihat profile-->
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login/"><strong>Login</strong></a></li>
          <li><a href="/login/register/"><strong>Register</strong></a></li>
          <!--if sudah login di kanan jadi link untuk lihat profile-->
        </ul>
        {% endif %}
        <!--nanti bikin if buat kalo login or tidak-->


      </div>
    </div>
  </nav>

</div>
