{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
My Profile - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
  <div class="centered-vertical">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-5 padding-0 col">
              <div class="content-box">
                  <div class="login-text-intro text-center">
                    <img src="https://image.ibb.co/b1t5B7/guest_biopic_holland_1.jpg" class="img-circle profile-picture">
                    <h3><b>{{nama}}</b></h3>
                    <div class="reg">
                      <h4>@{{username}}</h4>
                      <div style="padding: 15px 2px">
                        <a href="/user/edit-profile/"><button type="button" class="btn-block btn btn-back">Edit Profile</button></a>
                      </div>

                    </div>
                  </div>

              </div>
            </div>
            <div class="col-sm-7 padding-0 col">
              <div class="login-form">
                <div class="form-content">
                  <div class="custom">
                    <div class="detail-data">
                      <div class="role-all">
                        <div class="role">
                          {{role}}
                        </div>
                        <div class="status">
                          univ. indonesia
                        </div>
                      </div>
                      <div class="data">
                        <p><span class="judul"><b>{{no_text}}: </b></span>{{number}}</p>
                        <p><span class="judul"><b>Email: </b></span>{{email}}</p>
                        <p><span class="judul"><b>Phone Number: </b></span>{{phone}}</p>
                        <p><span class="judul"><b>Birthdate: </b></span>{{place}}, {{birthdate}}</p>
                      </div>
                    </div>
                    <div class="news-title">
                      <h3 style="color: #575C5D"><b>My News</b></h3>
                    </div>
                    <div class="list-news">
                      <div class="list-group">
                        {% if news %}
                          {% for berita in news %}
                            <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal{{berita.id_berita}}">{{berita.judul}}</a>

                            <div id="myModal{{berita.id_berita}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header mod-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">My News</h4>
                                  </div>
                                  <div class="modal-body">
                                    <h2><b>{{berita.judul}}</b></h2>
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <div class="role">{{berita.url}}</div>
                                        </div>
                                        <div class="col-sm-4">
                                          <p>{{berita.created_at}}</p>
                                        </div>
                                      </div>
                                    <br>
                                    <br>
                                    <p><b>Last update : </b>{{berita.updated_at}}</p>
                                    <p><b>Words count : </b>{{berita.jumlah_kata}}</p>
                                    <div class="topic">{{berita.topik}}</div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>

                              </div>
                            </div>
                          {% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> No data yet.
                        </div>
                        {% endif %}

                        <!--<a href="#" class="list-group-item">10 Gaya Memukai Kathy Indera, Pacar Baru Young Lex nih!</a>
                        <a href="#" class="list-group-item">Tahu siapa penumpangnya, driver Gojek ini langsung pucat</a>
                        <a href="#" class="list-group-item">Saat Jokowi Singgung Anies-Sandi soal Bus Listrik di Jakarta</a>
                        <a href="#" class="list-group-item">Dua Animator Indonesia ikut Garap Avenger Infinity War</a>-->
                      </div>
                    </div>
                  </div>


                  <div class="reg-again text-center">
                    <hr class="style14">
                    <p>Don't have an account? <a href="/login/register/">Register</a> first!</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>


      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
window.onload = function(){
  var kiri = $(".content-box").height();
  var kanan = $(".login-form").height();
  console.log(kiri);
  console.log(kanan);
  if (window.matchMedia("(max-width: 768px)").matches) {
    //do nothing huh?
  }
  else {
    if (kiri!=kanan) {
      if (kiri>kanan) {
        console.log("masuk kiri>kanan")
        $(".login-form").height(kiri);
      }
      else {
        console.log("masuk kanan>kiri")
        $(".content-box").height(kanan);
      }

    }
  }

}

</script>
{% endblock %}
