/* css untuk button create */
.bg-box {
  background: #f9f9f9;  
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #333;
  padding: 10px 10px;
}

.button {
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.005s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button4 {
    background-color: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.button4:hover {
background-color: #C6B7B4;
color: white
border: 2px solid #000000;
}


/* Css untuk header */
.login-text-intro {
  padding: 20px;
}

.title-div {
  background: #000000;  
  background: -webkit-linear-gradient(to bottom, #000000, #000000);  
  background: linear-gradient(to bottom, #000000, #000000); 
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #f9f9f9;
  margin-top: 40px;
  min-height: 50px;
  padding: 10px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/* Css untuk modal polling */
.mod-header{
  background: #000000; 
  background: -webkit-linear-gradient(to bottom, #000000, #000000); 
  background: linear-gradient(to bottom, #000000, #000000);
  border-top-left-radius: 5px;
}

.mod-body{
  color: #333;
}

.modal {
  text-align: center;
}
.padding-content {
  padding: 20px 25px;
}

.url {
  display: inline-block;
  padding: 3px 16px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 14px;
  border-radius: 10px;
  background-color: orange;
  margin-right: 8px;
  position:static;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .panel-satunya {
    padding-top: 20px;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.link-berita {
  padding: 8px 3px;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    padding: 15px;
}

p {
    color: #667172;
    text-align: center;
}

.content-box {
  background: #000000;  
  background: -webkit-linear-gradient(to bottom, #000000, #000000);  
  background: linear-gradient(to bottom, #000000, #000000); 
  color: #f9f9f9;
  min-height: 300px;
  border-radius: 10px;
}

.btn-back {
  color: #F3A83C;
  background: transparent;
  border: 2px solid #F3A83C;
  border-radius: 20px;
  width: 230px;
   transition: all 0.3s ease 0s;
}

.btn-submit {
  color: #781E36;
  background: #f9f9f9;
  border: 2px solid #781E36;
  border-radius: 5px;
}

.judul {
  padding: 5px 30px;
}

.btn-submit:hover {
  background: #781E36;
  opacity: 0.9;
  color: white;
}

.responden {
  border-bottom: 3px solid #F3A83C;
}

.tanggal {
  padding-bottom: 10px;
}

.pilihan {
  padding: 5px 30px;
}

.button-submit {
  padding: 10px 3px;
}