{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Polling - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/polling_page.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
  <div class="container">
    <div class="row">
      <div class="title-div">
        <div class="row">
        	<div class="col-sm-6 text-left">
        		<h3>Show Polling</h3>
        	</div>
          <div class="col-sm-6 text-right">
            {% if request.session.is_login == "login" %}
        			<button class="button button4" data-toggle="modal" data-target="#news-polling"><span>Create News-Polling</span></button>
         			<button class="button button4" data-toggle="modal" data-target="#polling" ><span>Create Polling</span></button>
            {% else %}
            {% endif %}
        	</div>
        </div>  
      </div>
        
      <div class="bg-box">
        <div class="row" style="padding: 30px 3px">
          <div class="bg-box">
            <div class="row" style="padding: 30px 3px">
              <div class="col-sm-12">
                <div class="row">
                  <div class="panel-group">
                    <div class="col-sm-4 col-sm-offset-2">
                      <div class="panel panel-danger">
                        <div class="panel-heading">List News-Polling</div>
                          <div class="panel-body">

                            {% if pol_news %}
                              {% for pol in pol_news %}
                                <a href="#" class="list-group-item" data-toggle="modal" data-target="#detail-poll{{pol.id_polling.id}}">{{pol.url_berita.judul}}</a>

                                <!-- Modal -->
                                <div id="detail-poll{{pol.id_polling.id}}" class="modal fade" role="dialog">
                                  <div class="modal-dialog">

                                  <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header mod-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Polling</h4>
                                      </div>
                                    <div class="modal-body">
                                    <!--<h2><b>{{pol.url_berita.judul}}</b></h2>-->
                                      <div class="tanggal">
                                        <span style="font-size: 12px">Start Date</span><button type="button" class="btn-block btn btn-back btn-xs">April, 2th 2018 08.00 AM</button>
                                        <br>
                                        <span style="font-size: 12px">End Date</span><button type="button" class="btn-block btn btn-back btn-xs">April, 30th 2018 23.55 AM</button>
                                      </div>      
                                    </div>
                                    </div>
                                  </div>
                              {% endfor %}
                            {% else %}
                              <div class="alert alert-danger text-center">
                                <strong>Oops!</strong> No data yet.
                              </div>
                            {% endif %}

                                </div>
                            </div>
                      </div>
                    </div>
                  
                  <div class="col-sm-4 ">
                    <div class="panel panel-danger ">
                      <div class="panel-heading panel-satunya">List Polling</div>
                        <div class="panel-body">
                          {% if pol_reg %}
                            {% for poll in pol_reg %}
                              <a href="#" class="list-group-item" data-toggle="modal" data-target="#detail-poll-reg{{poll.id_polling.id}}">{{poll.deskripsi}}</a>

                              <div id="detail-poll-reg{{poll.id_polling.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header mod-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Polling</h4>
                                    </div>
                                  <div class="modal-body">
                                    <h2><b>{{poll.deskripsi}}</b></h2>
                                    <div class="url">{{poll.url}}</div>
                                    <br>
                                    <br>
                                    <div class="tanggal">
                                        <span style="font-size: 12px">Start Date</span><button type="button" class="btn-block btn btn-back btn-xs">{{poll.id_polling.polling_start}}</button>
                                        <br>
                                        <span style="font-size: 12px">End Date</span><button type="button" class="btn-block btn btn-back btn-xs">{{poll.id_polling.polling_end}}</button>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>

                              </div>
                            </div>
                          {% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> No data yet.
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



     <!-- Modal create polling berita-->
  <div id="news-polling" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          {% if request.session.is_login == "login" %}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create News Polling</h4>
          {% endif %}
        </div>
        <!-- Modal body-->
        <div class="modal-body">
          <!-- Form create polling berita-->
          <form method="POST" action="{% url 'apps-polling:create-NewsPolling' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">                
                <div class="form-group">
                  <label for = "{{ polling_berita_form.Urlberita_for_label}}">
                  {{polling_berita_form.Urlberita.label}}</label>{{polling_berita_form.Urlberita}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ polling_berita_form.Startdate_for_label}}">
                      {{polling_berita_form.Startdate.label}}</label>{{polling_berita_form.Startdate}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ polling_berita_form.EndDate_for_label}}">
                      {{polling_berita_form.EndDate.label}}</label>{{polling_berita_form.EndDate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for = "{{ polling_berita_form.Questions_for_label}}">
                  {{polling_berita_form.Questions.label}}</label>{{polling_berita_form.Questions}}
                </div>
                <div class="form-group">
                  <label for = "{{ polling_berita_form.Answers_for_label}}">
                  {{polling_berita_form.Answers.label}}</label>
                  <p style="text-align:left"><small>Enter the options and saparate with commas</small></p>
                  {{polling_berita_form.Answers}}
                </div>
              </div>
            </div>
            <div class="text-right">
              <input type="submit" value="submit" class="btn btn-block btn-lg btn-default">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>                   
        </div>
      </div>
    </div>
  </div>
  

  <!-- Modal untuk polling biasa -->
  <div id="polling" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Polling</h4>
        </div>
        <!-- Modal body-->
        <div class="modal-body">
           <!-- From buat polling biasa-->          
          <form method="POST" action="{% url 'apps-polling:create-Polling' %}">
          {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for = "{{ PollingForm.Deskripsi_for_label}}">
                  {{PollingForm.Deskripsi.label}}</label>{{PollingForm.Deskripsi}}
                  <label for = "{{ PollingForm.Url_for_label}}">
                  {{PollingForm.Url.label}}</label>{{PollingForm.Url}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ PollingForm.Startdate_for_label}}">
                      {{PollingForm.Startdate.label}}</label>{{PollingForm.Startdate}}                   
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ PollingForm.EndDate_for_label}}">
                      {{PollingForm.EndDate.label}}</label>{{PollingForm.EndDate}}                    
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for = "{{ PollingForm.Questions_for_label}}">
                  {{PollingForm.Questions.label}}</label>{{PollingForm.Questions}}                  
                </div>
                <div class="form-group">
                  <label for = "{{ PollingForm.Answers_for_label}}">
                  {{PollingForm.Answers.label}}</label>
                  <p style="text-align:left"><small>Enter the options and saparate with commas</small></p>
                  {{PollingForm.Answers}}           
                </div>
              </div>
            </div>
            <div class="text-right">
              <input type="submit" value="submits" class="btn btn-block btn-lg btn-default">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal untuk detail polling-->
  <div id="detail-poll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="title-div">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Polling Detail</h4>
      </div>
      <div class="bg-box">
        <div class="padding-content">
          <div class="row">
            <div class="col-sm-8">
              <!--image-->
              <img src="https://preview.ibb.co/jUTtgc/pexels_photo_257840.jpg" style="width: 100%; object-fit:cover">
              <!--link berita-->
              <div class="link-berita">
                <button type="button btn-sm" class="btn-warning pull-center center-block" style="border-radius: 40px; font-size : 11px; padding : 3px">https://www.bmnc-news/berita-mobil/resmi-mei-harga-mitsubishi-xpander-naik-rp-3-juta</button>
              </div>
              <!--responden-->
              <div class="responden text-center">
                <h2>172</h2>
                <h3 style="padding-bottom:10px">respondens</h3>
              </div>
              <!--respon-->
              <div class="row" style="padding: 10px 10px">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Answers</th>
                      <th>Respons</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Honda Civic Estillo</td>
                      <td>29</td>
                    </tr>
                    <tr>
                      <td>BMW 318I M40</td>
                      <td>52</td>
                    </tr>
                    <tr>
                      <td>Toyota Great Corolla</td>
                      <td>37</td>
                    </tr>
                    <tr>
                      <td>Mitsubishi Lancer GTi</td>
                      <td>54</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-4">
              <!--date-->
              <div class="tanggal">
                <span style="font-size: 12px">Start Date</span><button type="button" class="btn-block btn btn-back btn-xs">April, 2th 2018 08.00 AM</button>
                <br>
        				<span style="font-size: 12px">End Date</span><button type="button" class="btn-block btn btn-back btn-xs">April, 30th 2018 23.55 AM</button>
              </div>
              <!--pertanyaan-->
              <div style="padding-top: 25px">
                <div class="content-box">
                  <div class="judul">
                    <h4><b>Mobil Impian Era 1990-an, Mana Pilihan Anda?</b></h4>
                  </div>
                  <div class="pilihan">
                    <div class="radio">
                      <label><input type="radio" name="optradio">Honda Civic Estillo</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">BMW 318I M40</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">Toyota Great Corolla</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">Mitsubishi Lancer GTi</label>
                    </div>
                    <div class="button-submit">
                      <button class="btn btn-block btn-submit">Submit</button>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
